#top_div {
    height: 150px;
    width: 100%;
    border: solid 1px;
    border-radius: 20px;
    box-shadow: 5px 5px;
    padding: 5px;
    margin: 10px;
}

#left_div {
    height: 500px;
    width: 20%;
    border: solid 1px;
    border-radius: 20px;
    box-shadow: 5px 5px;
    margin: 10px;
    float: left;
    padding: 5px;
}

#center_div {
    height: 500px;
    width: 60%;
    float: left;
    border: solid 1px;
    border-radius: 20px;
    box-shadow: 5px 5px;
    padding: 5px;
    margin: 10px;
}

#right_div {
    height: 500px;
    width: 19.8%;
    float: left;
    border: solid 1px;
    border-radius: 20px;
    box-shadow: 5px 5px;
    padding: 5px;
    margin: 10px;
}

#bottom_div {
    height: 100px;
    width: 100%;
    border: solid 1px;
    border-radius: 20px;
    box-shadow: 5px 5px;
    margin: 10px;
    padding: 5px;
    clear: both;
}

/* Menu */
.cateOrder {
    font-weight: bold;
}

.itemOrder {
    font-style: italic;
}

ul{
    list-style: square;
    margin: 0;
    padding-left: 15px;
}

a{
    text-decoration: none;
}